In [ ]:
#list (append, insert, remove, pop, clear, index, count, sort, reverse)
numberList =[55,5,66,7,88]
print('List default value' ,numberList)
numberList.append(99)
print(numberList)
numberList.insert(2,77)
print('After insert',numberList)
numberList.remove(66)
print('After remove',numberList)
numberList.pop(1)
print('After pop',numberList)
del numberList[2]
print('After del',numberList)  
print('Total list count ',len(numberList))

In [ ]:
#tuple (count, index)
numberTuple =(5,6,7,8,5,9,5)
print('Tuple default value',numberTuple)
print('Type of number tuple', type(numberTuple))
print('second position value ', numberTuple[1])

#list to tuple
numberList =[55,5,66,7,88]
print('List default value' ,numberList)
numberTuple = tuple(numberList)
print('List to tuple',numberTuple)
print(554 in numberTuple)

In [ ]:
#Set (add, remove, pop, clear, union, intersection, difference)
numberSet = {5,6,7,8,5,9,5}
print('Default set data',numberSet)
numberSet.add(20)
print('Set after addition',numberSet)
numberSet.remove(7)   # we do not have index in set .
print('Set after remove',numberSet)
numberSet.pop()  # it will remove random value from set
print('Set after pop',numberSet)
numberSet.discard(9) # it will remove 9 from set if it is present, if not present it will do nothing
print('Set after discard',numberSet)

a = {1,2,3,4}
b = {3,4,5,6}
print('Union of a and b',a.union(b))
print('Intersection of a and b',a.intersection(b))
print('Difference of a and b',a-b) # it will give us the value which is in a but not in b

Default set data {5, 6, 7, 8, 9}
Set after addition {20, 5, 6, 7, 8, 9}
Set after remove {20, 5, 6, 8, 9}
Set after pop {5, 6, 8, 9}
Set after discard {5, 6, 8}
Union of a and b {1, 2, 3, 4, 5, 6}
Intersection of a and b {3, 4}
Difference of a and b {1, 2}

In [66]:
#dictionary (keys, values, items, get, pop, clear)
d1 = {'id':101, "name":"Ravi", "age":34, "gender":"Male"} # it will not allow us to have duplicate key, it will take the last value of the duplicate key.
print(d1)

d1["city"]="Delhi"
print(d1)

d1.pop("age")
print(d1)

del d1["name"]
print(d1)

print("city" in d1)

print(d1.keys()) # it will give us the key of the dictionary in list format.
print(d1.values()) # it will give us the value of the dictionary in list format
print(d1.items()) # it will give us the key value pair in tuple format

d1["salary"]=50000
print(d1)

{'id': 101, 'name': 'Ravi', 'age': 34, 'gender': 'Male'}
{'id': 101, 'name': 'Ravi', 'age': 34, 'gender': 'Male', 'city': 'Delhi'}
{'id': 101, 'name': 'Ravi', 'gender': 'Male', 'city': 'Delhi'}
{'id': 101, 'gender': 'Male', 'city': 'Delhi'}
True
dict_keys(['id', 'gender', 'city'])
dict_values([101, 'Male', 'Delhi'])
dict_items([('id', 101), ('gender', 'Male'), ('city', 'Delhi')])
{'id': 101, 'gender': 'Male', 'city': 'Delhi', 'salary': 50000}